<!-- Chat container -->
<div class="" ng-controller="chatController">
    <div class="row">
        <!-- Chatbox -->
        <div class="panel panel-default col-sm-10">
            <!-- TODO: Create chatbox per user -->
            <div class="panel-heading nav">
                <div class="navbar-brand"><span data-ng-show="connected" class="glyphicon glyphicon-check"><span data-ng-hide="connected" class="glyphicon glyphicon-unchecked"></span>ChatBox</div><input class="form-control navbar-right" ng-model="search" placeholder="Filter op user..." />
            </div>
            <!-- Chatmessages -->
            <!-- TODO: Add a loading item when connection to hub -->
            <div id="chatboxfeed" class="panel-body">
                <div class="row" ng-repeat="chatmessage in chatStore | filter:search">
                    <div class="col-sm-2 ">{{chatmessage.user}}</div>
                    <div class="col-sm-8 ">{{chatmessage.message}}</div>
                    <div class="col-sm-2 right ">{{chatmessage.timestamp}}</div>
                </div>
            </div>
            <!-- Chatmessages end -->
            <div data-ng-hide="message === '' " class="alert alert-danger">
                {{message}}
            </div>
            <!-- Chat input -->
            <div class="panel-footer input-group  col-sm-12">
                <span id="sendmessage" class="input-group-addon" ng-click="sendMessage()">Send</span>
                <textarea id="chatmessage" class="form-control" placeholder="Type je bericht hier...."></textarea>
            </div>
            <!-- Chat input -->
        </div>


        <!-- Chatbox end -->
        <!-- Side menu for users -->
        <div class="col-sm-2 sidebar col-sm-offset-10">
            <div class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">Chatbox</a></li>
                <li ng-repeat="user in userStore">
                    <a href="#">{{user.name}} <span class="badge pull-right"></span></a>
                </li>
            </div>

        </div>
        <!-- End Side menu for users -->



    </div>

</div>
<!-- End Chat container -->