<!-- Chat container -->
<div class="container-fluid">
    <div class="row">
        <!-- Chatbox -->
        <div class="panel-default col-sm-10">
            <!-- TODO: Create chatbox per user -->
            <div class="panel-heading">ChatBox</div>
            <!-- Chatmessages -->
            <div id="chatboxfeed" class="panel-body">

                <!--<ul class="">
            <li class="list-unstyled row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-10">Erik de Klerk zegt:</div>
                        <div class="col-sm-2 right">20-10-2014 08:00</div>

                    </div>
                    <div class="row col-sm-10">Gekke huis dit</div>
                </div>
            </li>
            <li class="list-unstyled row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-10">Erik de Klerk zegt:</div>
                        <div class="col-sm-2 right">20-10-2014 08:00</div>
                    </div>
                    <div class="row col-sm-10">Gekke huis dit</div>
                </div>


            </li>
        </ul>-->

                <p class="row">
                    <div class="col-sm-2 ">Erik de Klerk:</div>
                    <div class="col-sm-8 ">Gekke huis ditGekke huis ditGekke huis ditGekke huis dit<br />Gekke huis ditGekke huis ditGekke huis dit</div>
                    <div class="col-sm-2 right ">20-10-2014 08:00</div>
                </p>

                <p class="row">
                    <div class="col-sm-2 ">Erik de Klerk:</div>
                    <div class="col-sm-8 ">Gekke huis ditGekke huis ditGekke huis ditGekke huis dit<br />Gekke huis ditGekke huis ditGekke huis dit</div>
                    <div class="col-sm-2 right ">20-10-2014 08:00</div>
                </p>
                <p class="row">
                    <div class="col-sm-2 ">Erik de Klerk:</div>
                    <div class="col-sm-8 ">Gekke huis ditGekke huis ditGekke huis ditGekke huis dit<br />Gekke huis ditGekke huis ditGekke huis dit</div>
                    <div class="col-sm-2 right ">20-10-2014 08:00</div>
                </p>
                <p class="row">
                    <div class="col-sm-2 ">Erik de Klerk:</div>
                    <div class="col-sm-8 ">Gekke huis ditGekke huis ditGekke huis ditGekke huis ditGekke huis ditGekke huis ditGekke huis dit</div>
                    <div class="col-sm-2 right ">20-10-2014 08:00</div>
                </p>
            </div>
            <!-- Chatmessages end -->
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
            <!-- Chat input -->
            <div class="input-group panel-footer col-sm-12">
                <span id="sendmessage" class="input-group-addon">Send</span>
                <textarea id="chatmessage" class="form-control" style="width:100%;" placeholder="Type je bericht hier...."></textarea>
            </div>
            <!-- Chat input -->
        </div>

        <!-- Chatbox end -->
        <!-- Side menu for users -->
        <div class="col-sm-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">Chatbox</a></li>
                <li><a href="#">Erik de Klerk <span class="badge pull-right">42</span></a></li>
                <li><a href="#">Jan Smit</a></li>
            </ul>
        </div>
        <!-- End Side menu for users -->



    </div>

</div>
<!-- End Chat container -->